$color-dark: #232020;
$color-dark-brighter:#5F5C5C;
$color-normal: #3a3535;
$color-light: #f4f4f4;
$color-light-darker:#c4c4c4;
$color-foreground: #ff7315;
$color-invalid:rgb(255, 53, 53);
$color-valid: #92D050;
@import url('./fonts/opensans.css');
@import url('./components/toggle-switch.css');
@import url('./components/manga.css');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Open Sans";
    letter-spacing: .2rem;
    &:focus{
        outline:none;
    }
}
*:not([type='text']){
    user-select: none;
}
*::selection{
    background: $color-foreground;
}
html, body{
    height:100%;
    width:100%;
    background-color: $color-normal;
    overflow: hidden;
}
.title-bar{
    color:white;
    height:30px;
    background-color: $color-foreground;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    pointer-events:auto;
    display:grid;
    padding-left:1%;
    grid-template-columns: 4% auto 50px 50px 50px 50px;
    align-items: center;
    font-size:.9rem;
    img{
        height:65%;
    }
    button{
        width:100%;
        height:100%;
        border:none;
        -webkit-app-region: no-drag;
        background-color: transparent;
        color:white;
        font-size: 1rem;
        &:hover{
            background-color:$color-dark-brighter;
            cursor:pointer;
        }
    }
}
.side-bar{
    height:calc(100% - 30px);
    width:75px;
    background-color:$color-dark;
    overflow:hidden;
    transition: width .1s ease-in-out;
    z-index:30;
    position: relative;
    div.menu{
        width:200px;
        height:7.5%;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding-left:25px;
        padding-right:15px;
        font-size:1.3rem;
        border-bottom:1px solid $color-light;
        background-color: $color-foreground;
        color:$color-light;
        cursor:pointer;
    }
    button.navlink{
        width:200px;
        height:7.5%;
        cursor:pointer;
        background-color: transparent;
        display:flex;
        align-items: center;
        padding-left:25px;
        border:none;
        border-bottom:1px solid $color-light;
        &.active{
            background-color: $color-foreground;
        }
        svg{
            height:20px;
            width:20px;
            margin-right: 30px;
            fill:$color-light;
        }
        span{
            font-size:.8rem;
            color:$color-light;
        }
        &#favorites{
            position: relative;
            .bubble{
                height:9px;
                display:none;
                width:9px;
                position: absolute;
                top:7.5px;
                left:50px;
                background-color: $color-foreground;
                border-radius: 5rem;
            }
        }
    }
    &:hover{
        width:200px;
        button#favorites{
            .bubble{
                height:10px;
                width:10px;
                top:50%;
                transform: translateY(-50%);
                left:180px;
            }
        }
    }
}
.content{
    background-color:$color-normal;
    display:none;
    height:calc(100% - 30px);
    width:calc(100% - 75px);
    position: absolute;
    top:30px;
    left:75px;
    z-index: 10;
    color:$color-light;
    transition: width .1s ease-in, left .1s ease-in;
    padding:1% 2%;
}
.source-select{
    height:50px;
    width:calc(100% - 75px);
    position: absolute;
    top:30px;
    left:75px;
    z-index: 11;
    background-color:$color-dark;
    box-shadow:0 5px 6px rgba(black,.6);
    display:none;
    justify-content: space-between;
    padding: 0 2.5%;
    align-items: center;
    color:white;
    .selected{
        display:block;
        width:70%
    }
    button{
        height:30px;
        width:30px;
        font-size:1.6rem;
        color:$color-foreground;
        background-color: transparent;
        border:none;
        cursor:pointer;
        text-align:center;
        letter-spacing: 0;
        transition: transform .5s linear;
        &:hover{
            transform:rotateZ(360deg)
        }
    }
}
.content#search{
    @extend %overflowbar;
        --bar-width:1%;
    padding-top: calc(50px + 1.5%);
    .searchBar{
        border:1px solid white;
        background-color: rgba($color-dark,.8);
        margin:auto;
        width:400px;
        height:35px;
        display:flex;
        border-radius:5rem;
        overflow:hidden;
        #searchInput{
            height:100%;
            flex-grow:1;
            padding-left:2.5%;
            background-color: transparent;
            border:none;
            color:white;
            font-size: 1rem;
        }
        button{
            height:33px;
            width:33px;
            letter-spacing: 0;
            color:$color-foreground;
            background-color: transparent;
            border:none;
            cursor:pointer;
            font-size: 1.5rem;
        }
        #searchSubmit{
            font-size: 1.2rem;
        }
    }
    .searchResults{
        background-color: $color-dark-brighter;
        width:100%;
        min-height:80%;
        padding:1%;
        display:flex;
        flex-direction: column;
        position: relative;
        .loading-wrapper{
            background-color: $color-dark-brighter;
        }
    }
}
.content#home{
    background-color: red;
}

.content#genrelist{
    background-color: blue;
}

.content#favorites{
    background-color: orange;
}

.content#settings{
    background-color: green;
}

.selectedManga{
    height:calc(100% - 30px);
    width:100%;
    display:flex;
    position:absolute;
    top:30px;
    left:0;
    background-color:$color-normal;
    z-index:100;
    padding:2%;
    align-items:flex-start;
    #smBack{
        position:absolute;
        right:0;
        top:0;
        width:50px;
        height:60px;
        border:none;
        border-bottom-left-radius:1rem;
        font-size:1.5rem;
        background-color:$color-foreground;
        color:white;
        cursor:pointer;
        &:hover{
            background-color:$color-dark-brighter;
        }
        &:disabled{
            background-color: $color-dark-brighter;
            cursor:default;
        }
    }
    .loading-wrapper{
        background-color:$color-normal;
        .loader{
            border: 7.5px solid $color-dark-brighter;
            border-top-color: $color-foreground;
        }
        z-index:100;
    }
    .side-container{
        width:27.5vw;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: space-between;
        margin-right:2%;
        .img-wrapper{
            width:100%;
            padding:5%;
            background-color:$color-foreground;
            img{
                width:100%;
            }
        }
        .button-wrapper{
            height:100px;
            width:100%;
            padding:2.5%;
            display:flex;
            justify-content:space-between;
            align-items:center;
            button{
                height:50px;
                width:50px;
                color:white;
                border:none;
                background-color:$color-dark-brighter;
                border-radius: 1.2rem;
                box-shadow:0 3px 6px $color-dark;
                font-size:1.5rem;
                letter-spacing:0;
                position:relative;
                cursor:pointer;
                &.active{
                    background-color:$color-foreground;
                }
                &:disabled{
                    cursor:default;
                    color:$color-dark-brighter;
                }
            }
        }
        .info-wrapper{
            width:100%;
            height:70px;
            display:grid;
            grid-template-columns:75px auto;
            grid-template-rows:auto auto;
            grid-column-gap:10px;
            grid-row-gap:10px;
            align-items:center;
            grid-template-areas:
                "rating status"
                "rating chapters";
            .info{
                background-color:$color-dark-brighter;
                width:100%;
                height:100%;
                font-size:.6rem;
                display:flex;
                align-items:center;
                justify-content:center;
                padding:2.5% 7.5%;
                box-shadow:0 3px 6px $color-dark;
                border-radius:5rem;
                span{
                    letter-spacing:.1rem;
                    color:white;
                    line-height:20px;
                    display:block;
                    height:20px;
                    text-align:center;
                    &.label{
                        font-weight:bold;
                        margin-right:10px;

                    }
                    &.text{
                        font-family: "Open Sans Light"
                    }
                }
                &#status{
                    grid-area:status;
                    &.completed{
                        background-color:$color-invalid;
                    }
                    &.ongoing{
                        background-color:$color-valid;
                    }
                }
                &#chapters{
                    grid-area:chapters;
                    background-color:$color-foreground;
                }
            }
            .rating{
                grid-area:rating;
                height:100%;
                width:100%;
                color:white;
                span{
                    letter-spacing:0;
                    font-size:1.5rem;
                }
                .star{
                    color:yellow;
                    font-size:2.8rem;
                }
                display:flex;
                flex-direction:column-reverse;
                align-items:center;
                justify-content:center;
            }
        }
    }
    .main-container{
        height:100%;
        width:85%;
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        color:white;
        .header-wrapper{
            width:100%;
        
            #title,#altTitle{
                max-width:94%;
            }
            #genres{
                width:100%;
                display:grid;
                grid-template-columns: auto auto auto auto auto;
                grid-column-gap:10px;
                grid-row-gap:10px;

                margin:10px 0 ;
                .genre{
                    padding:0 5%;
                    height:20px;
                    min-width:50px;
                    font-size:.5rem;
                    text-align:center;
                    line-height:20px;
                    background-color:$color-foreground;
                    border-radius:5rem;
                    box-shadow:0 5px 6px $color-dark;
                }
            }
        }
        .desc-wrapper{
            width:100%;
            background-color:$color-dark-brighter;
            display:none;
            .header{
                display:block;
                height:30px;
                width:100%;
                line-height:30px;
                padding-left:2%;
                background-color: $color-foreground;
                box-shadow:0 2px 2px $color-normal;
            }
            #description{
                @extend %overflowbar;
                        --bar-width:0;
                        overflow-y:scroll;
                text-indent:100px;
                width:100%;
                height:calc(100% - 30px);
                padding:1% 2%;
                text-align:justify;
            }
        }
        .cl-wrapper{
            width:100%;
            height:70%;
            background-color:$color-light;
            .header{
                display:block;
                height:30px;
                width:100%;
                line-height:30px;
                padding-left:2%;
                background-color: $color-foreground;
                box-shadow:0 2px 2px $color-normal;
            }
            #chapter-list{
                height:94%;
                @extend %overflowbar;
                        --bar-width:1%;
                display:flex;
                flex-direction: column-reverse;
                .chapter{
                    width:100%;
                    padding:1% 2%;
                    color: $color-dark;
                    border-top:1px solid $color-normal;
                    cursor:pointer;
                    display:flex;
                    align-items: center;
                    .text{
                        display:block;
                        width:70%;
                        margin-left: 30px;
                    }
                    .date{
                        display:block;
                        width:30%;
                        font-size:.8rem;
                        height:25px;
                        line-height: 25px;
                        color:$color-light-darker;
                        text-align:center;
                    }
                    #ch-eye,#ch-mark{
                        height:25px;
                        width:25px;
                        letter-spacing: 0;
                        line-height:25px;
                        margin-right:5px;
                        margin-bottom:0;
                        color: $color-normal;
                        display:none;
                    }
                    &.marked{
                        background-color: rgb(96, 150, 245) !important;
                        #ch-mark{
                            display:block;
                        }
                        .text{
                            margin-left:0;
                        }
                        .date{
                            color:$color-light;
                        }
                    }
                    &.read{
                        background-color: $color-light-darker;
                        .text{
                            margin-left:0;
                        }
                        .date{
                            color:$color-light;
                        }
                        #ch-eye{
                            display:block;
                        }
                    }
                }
            }
        }
    }
}


.modal-bg{
    height:100%;
    width:100%;
    display:none;
    position: absolute;
    top:0;
    left:0;
    z-index: 2000;
    background-color: rgba(black,.8);
    .modal-content{
        height:250px;
        width:400px;
        background-color: $color-normal;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        padding:2%;
        padding-top:calc(30px + 1.5%);
        box-shadow: 0 5px 6px black;
        .header{
            height:30px;
            background-color: $color-foreground;
            position: absolute;
            top:0;
            left:0;
            width:100%;
            display:flex;
            justify-content: space-between;
            align-items: center;
            padding: 0% 2.5%;
            color:white;
            #closeModal{
                font-size:1.5rem;
                cursor: pointer;
                padding:0;
                color:$color-light;
                letter-spacing: 0;
                border:none;
                background-color: transparent;
            }
        }
    }
}
.modal-content#closePrompt{
    p{
        color:white;
    }
    .button-group{
        width:100%;
        display:flex;
        justify-content: space-between;
        padding:0 5%;
        position: absolute;
        left:0;
        bottom: 10%;
        button{
            padding:2.5% 5%;
            font-size:.7rem;
            letter-spacing: .15rem;
            border-radius: 5rem;
            border:none;
            cursor: pointer;
            transition: transform .5s ease-in;
            &:hover{
                transform:scale(1.05);
            }
        }
        #min-toTray{
            color:white;
            background-color: $color-foreground;
            border:2px solid $color-foreground;
        }
        #close-electron{
            border:2px solid $color-foreground;
            font-weight: bolder;
            background-color: $color-normal;
            color:$color-foreground;
        }
    }
}
.modal-content#changeSource{
    color:white;
    h3{
        margin-bottom:5%;
    }
    .source-list{
        @extend %overflowbar;
        width:101%;
        max-height:80%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .source{
            padding:1% 5%;
            background-color: #5F5C5C;
            border:none;
            border-radius: 5rem;
            box-shadow: 0 5px 6px $color-dark;
            color:white;
            margin-bottom:15px;
            cursor:pointer;
            &.active{
                background-color: $color-foreground;
            }
        }
    }
}

%overflowbar{
    overflow-y: auto;
    overflow-x: hidden;
    --thumb-color:#{$color-foreground};
    --track-color:#{$color-dark};
    &::-webkit-scrollbar {
        width:var(--bar-width);
    }
    &::-webkit-scrollbar-track {
        background: var(--track-color);
    }
    &::-webkit-scrollbar-thumb {
        background: var(--thumb-color);
    }
}

hr{
    margin:1.25% 0%;
    width:100%;
}

#scrollToTop{
    display:none;

    height:60px;
    width:60px;
    background-color: $color-foreground;
    border-radius:5rem;
    font-size:2.3rem;
    letter-spacing: 0;
    text-align: center;
    line-height: 175%;
    position:fixed;
    bottom:1%;
    right:1.75%;
    cursor:pointer;
    &:hover{
        animation: pointUp .5s ease infinite;
    }
    @keyframes pointUp{
        0%{line-height: 160%;}
        20%{line-height: 160%;}
        50%{line-height: 180%;}
        70%{line-height: 180%;}
    }
}

.loading-wrapper{
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    display:none;
    background-color: $color-light-darker;
    .loading &{
        display:block;
    }
    .loader{
        height:50px;
        width:50px;
        border: 7.5px solid $color-normal;
        border-top-color: $color-foreground;
        border-radius: 50%;
        margin:30% auto;
        transform: translate(-50%);
        animation: loading 1s linear infinite;
        @keyframes loading{
            0%{transform: rotate(0deg);}
            100%{transform: rotate(360deg);}
        }
    }
}
.overflowTest{
    height:300vh;
    width:20px;
    background-color: green;
}

.no-source .overlay{
    height:100%;
    width:100%;
    background-color: rgba(black,.9);
    position: absolute;
    top:0;
    left:0;
    z-index:100;
    span{
        color:$color-dark-brighter;
        font-weight:bolder;
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%);
        animation: threeDot 1s ease-in-out infinite;
        @keyframes threeDot{
            0%{top:50%}
            50%{top:52.5%}
            0%{top:50%}
        }
    }
}
.popup{
    height:100px;
    width:350px;
    background-color:$color-light;
    border-radius:1rem;
    position:fixed;
    z-index:1000;
    bottom:2%;
    right:1.5%;
    padding:1%;
    display:none;
    align-items:center;
    box-shadow: 0 5px 6px $color-dark;
    .icon{
        font-size:5rem;
        color:$color-invalid;
        margin-right:10px;
    }
    .text{
        height:87%;
        width:70%;
        .title{
            display:block;
            color:$color-invalid;
            font-weight:bolder;
            font-size:1rem;
            margin-bottom:1%;
        }
        #errorMsg{
            display:block;
            font-size:.8rem;
            text-align:justify;
            letter-spacing:.125rem;
        }
    }
}
.manga-wrapper{
    display:flex;
    flex-wrap:wrap;
    .manga{
        margin-bottom:20px;
        @media (max-width: 1000px) {
            margin-right:115px;
            &:nth-child(3n){
                margin-right:0;
            }
        }
        @media (min-width: 1000px) {
            margin-right:55px;
            &:nth-child(5n){
                margin-right:0;
            }
        }
    }
}