
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--inactive-color);
  -webkit-transition: .4s;
  transition: .4s;
  
  &:before{
    position: absolute;
    content: "";
    height: 70%;
    width: 40%;
    left: 8%;
    bottom: 15%;
    background-color: var(--slider-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
}
.switch {
    position: relative;
    display: inline-block;
    --inactive-color: #ccc;
    --active-color: #2196F3;
    --slider-color: white;
    input {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + .slider {
            background-color: var(--active-color);
        }
        &:focus + .slider {
            box-shadow: 0 0 1px var(--active-color);
        }
        &:checked + .slider:before {
            transform: translateX(108%);
        }
    }
    &.round{
        .slider{
            border-radius: 5rem;
            &:before{
                border-radius: 5rem;
            }
        }
    }
  }
